@import 'variables';
@import 'fonts';
@import 'components/footer';
@import 'components/talkview';
@import 'components/sponsors';

// revoke hiding changeNote field from edit & add forms
.field-wrapper-changeNote {
  display: block;
}

// fix missing container width in sitemap
#page-sitemap > * {
  @include default-container-width();
}

// override _header.scss

// increase logo size
.header-wrapper .header .logo-nav-wrapper .logo {
  max-width: 262px;
  max-height: 120px;
}

h1.documentFirstHeading {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.contenttype-news-item #page-document .dates {
  margin-bottom: 1rem;
}

// reduce padding in dropdown navigation on desktop
.navigation ul.desktop-menu .submenu {
  padding: 20px 102px 30px;
}

.navigation ul.desktop-menu .submenu ul {
  padding: 20px 0 0;
}

// Set volto-slate default table styles
table.slate-table {
  min-width: 680px;
}

table.slate-table td,
table.slate-table th {
  padding: 0.5rem;
  padding: 10px;
  border: 0.25rem solid #fff;
  background-color: #eee;
  vertical-align: middle;
}

table.slate-table th {
  border-bottom: none;
  background-color: #ccc;
}

table.slate-table th p {
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.03em;
}

table.slate-table td p {
  font-size: 0.8em;
}

table.slate-table th p {
  font-size: 0.9em;
}

#page-document .block.gridBlock .four .teaser .teaser-item .image-wrapper,
#page-edit
  .block-editor-gridBlock
  .block.gridBlock
  .four
  .teaser
  .teaser-item
  .image-wrapper,
#page-add
  .block-editor-gridBlock
  .block.gridBlock
  .four
  .teaser
  .teaser-item
  .image-wrapper {
  margin-bottom: 0 !important;
}

.block.gridBlock .block.teaser .teaser-item .content {
  margin-top: 1rem;
}

.block.gridBlock .ui.stackable {
  max-width: var(--layout-container-width);
}

.block.gridBlock .block.image figcaption {
  bottom: 0.4rem;
}

.block.gridBlock .block.image figure::after {
  height: 2.6rem !important;
  background: #00294e;
  opacity: 0.4;
}

.block.gridBlock .block.image figure:not(:has(figcaption)) {
  &::after {
    height: 0;
    content: unset;
  }
}

.block h2.headline {
  margin-bottom: 2rem;
}

.ui.container.tags {
  margin-top: 1rem;
}

.block.__button .button.container {
  padding-top: 0;
}

.blocks-group-wrapper
  > .block.teaser.is--last--of--block-type.next--is--__button
  .teaser-item.default {
  padding-bottom: 0;
  border-bottom: 0;
}

// Fix Sponsor CSS
.sponsors-wrapper {
  @include default-container-width();

  .sponsorheader h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: left;
  }

  .sponsors-content {
    .sponsorlevel {
      h3 {
        font-size: 18px;
        font-weight: 300;
        text-align: left;

        &::after {
          display: none;
          width: var(--default-container-width);
          padding-top: 0;
          border-bottom: none;
        }
      }
    }
  }
}

.talk-wf-draft-message {
  padding: 1rem;
  border: 3px solid orange;
  margin-bottom: 2rem;
}

.speaker-room {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  .speaker {
    // background-color: var(--secondary-color);
    // padding: 0.3rem;
    border-radius: 0.3rem;
    color: #333;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;
  }

  .room {
    // padding: 0.3rem;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;
  }
}

.audiences {
  display: flex;
  min-width: fit-content;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;

  li {
    padding: 0.2rem 0;
    color: var(--accent-color);
    font-size: 0.8rem;

    &::before {
      content: '#';
    }
  }
}

#page-document .blocks-group-wrapper > .block.listing.grid {
  .audiences {
    margin: 0.2rem 0;
    font-family: 'PT Sans Narrow';

    li {
      padding: 0.1rem 0;
      margin-right: 0.3rem;
    }
  }
}

#page-document .blocks-group-wrapper > .block.listing.talk-timetable {
  max-width: 98%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'PT Sans Narrow';

  .items {
    display: grid;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    gap: 0.5rem;
    grid-auto-rows: 120px;
    grid-template-columns: 1fr 1fr;
  }
}

// vertical grid:
@media (orientation: portrait) and (max-width: 800px) {
  #page-document .blocks-group-wrapper > .block.listing.talk-timetable {
    // max-width: var(--default-container-width);
    // margin-right: auto;
    // margin-left: auto;
    // .items {
    //   display: grid;
    //   gap: 0.5rem;
    //   grid-template-columns: repeat(1, 1fr);
    // }
  }
}

.timetable-item {
  padding: 0;
  background-color: var(--theme-high-contrast-color);
  --talk-item-base-height: 5rem;

  /* Items that span two columns */
  &.keynote,
  &.podiumsdiskusion,
  &.time-box {
    grid-column: span 2;
  }

  /* Items that span two rows */
  &.vortrag,
  &.keynote,
  &.podiumsdiskusion {
    grid-row: span 2;
  }

  &.talk.keynote,
  &.time-box {
    .room {
      display: none;
    }
  }

  .card-container {
    display: flex;
    height: 100%;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #fff;
    font-family: 'PT Sans Narrow';
    gap: 0.5rem;

    h2 {
      margin: 0;
      font-family: 'PT Sans Narrow';
      font-size: 1rem;
      line-height: 1rem;
    }

    > * {
      padding: 0.5rem;
      background-color: var(--theme-high-contrast-color);
    }

    .time {
      width: 5rem;
      flex-shrink: 0;
      text-align: center;
    }

    .content {
      flex-grow: 1;
    }

    .audiences {
      margin: 0.5rem 0;
      line-height: 1rem;

      li {
        padding: 0.1rem 0;
        margin-right: 0.3rem;
        line-height: 1rem;
      }
    }

    .room {
      width: 6rem;
      flex-shrink: 0;
      text-align: center;
    }

    .speaker-info {
      font-size: 0.9rem;

      .talk-type {
      }
    }
  }
}

.timetable-item:not(.time-box) {
  &.time-09-00:not(:has(+ .time-09-00)),
  &.time-09-30:not(:has(+ .time-09-30)),
  &.time-10-00:not(:has(+ .time-10-00)),
  &.time-10-30:not(:has(+ .time-10-30)),
  &.time-11-00:not(:has(+ .time-11-00)),
  &.time-11-30:not(:has(+ .time-11-30)),
  &.time-12-00:not(:has(+ .time-12-00)),
  &.time-12-30:not(:has(+ .time-12-30)),
  &.time-13-00:not(:has(+ .time-13-00)),
  &.time-13-30:not(:has(+ .time-13-30)),
  &.time-14-00:not(:has(+ .time-14-00)),
  &.time-14-30:not(:has(+ .time-14-30)),
  &.time-15-00:not(:has(+ .time-15-00)),
  &.time-15-30:not(:has(+ .time-15-30)),
  &.time-16-00:not(:has(+ .time-16-00)),
  &.time-16-30:not(:has(+ .time-16-30)),
  &.time-17-00:not(:has(+ .time-17-00)),
  &.time-17-30:not(:has(+ .time-17-30)) {
    & + * {
      grid-column-start: 1;
    }
  }
}
